<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantManagement">
        <activity
            android:name=".login.Boundary.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.Boundary.AdminPageView"
            android:label="Admin Function"/>
        <activity android:name=".admin.Boundary.CreateAccountView"
            android:label="Create Account"/>
        <activity android:name=".admin.Boundary.EditAccountView"
            android:label="Edit Account"/>
        <activity android:name=".owner.OwnerUI"
            android:label="Owner Homepage"/>
        <activity android:name=".customer.Boundary.CustomerUI"
            android:label="Food Menu" />
        <activity android:name=".customer.Boundary.CheckoutActivity"
            android:label="Cart Checkout"/>
        <activity android:name=".manager.Boundary.FoodMenu.FoodMenuView"
            android:label="Manage Menu"/>
        <activity android:name=".manager.Boundary.FoodMenu.CreateFoodItem"
            android:label="Create new item"/>
        <activity android:name=".manager.Boundary.ManagerUI"
            android:label="Manager Homepage"/>
        <activity android:name=".manager.Boundary.FoodMenu.EditFoodItem"
            android:label="Edit Food Item"/>
        <activity android:name=".manager.Boundary.Coupon.Coupon"
            android:label="Manage Coupon"/>
        <activity android:name=".manager.Boundary.Coupon.CreateCouponView"
            android:label="Create Coupon"/>
        <activity android:name=".manager.Boundary.Coupon.EditCouponView"
            android:label="Edit Coupon"/>

    </application>

</manifest>